[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
langchain = {extras = ["llm"], version = "*"}
langchain-anthropic = "*"

[dev-packages]

[requires]
python_version = "3.12"
